@{
    ViewData["Title"] = "About";
}
<h2>Company Library</h2>

<br />

<p>
    <strong><a href="https://notehub.org/unw4x">Inspiration</a></strong><br /><br />

    Company Library is a .NET Core MVC used to manage the loan of branch books within the company. Users, which presumably will be the company's employees, can borrow books from common library and add their own items to it. <br />
</p>

<h3>Technologies &amp; Services</h3>

<ul class="list-group">
    <li class="list-group-item">.NET Core MVC</li>
    <li class="list-group-item">C#</li>
    <li class="list-group-item">Google+ API</li>
    <li class="list-group-item">Azure</li>
</ul>

<h3>Features</h3>

<ul class="list-group">
    <li class="list-group-item">All books list</li>
    <li class="list-group-item">My books list - books added by logged in user</li>
    <li class="list-group-item">Borrow/return book</li>
    <li class="list-group-item">Add new book</li>
    <li class="list-group-item">View book details</li>
    <li class="list-group-item">Edit/delete book added by logged in user</li>
    <li class="list-group-item">Show book's borrowings history</li>
    <li class="list-group-item">Show borrowings history for logged in user</li>
    <li class="list-group-item">Log in/Sign up with Google account</li>
</ul>