@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Jakub Wajs</strong><br />
    Poznan, Poland<br />
    <span class="glyphicon glyphicon-phone"></span> +48 669 270 383 <br />
    <span class="glyphicon glyphicon-envelope"></span><a href="mailto:jakub.wajs10@gmail.com"> jakub.wajs10@gmail.com</a><br />
</address>
